*.py[cod]
__pycache__/
_build*
.*.swp
.*.swo
.eggs
.tox
*.egg-info/
.vagrant
ansible/roles/girder.girder
ansible/roles/girder.mongodb
ansible/sample*.cfg
docker-compose.local.yml
docker-compose.override.yml
worker.local.cfg
docs/.bundle
.env
